web/
/sessions/*
/data/*.json
*.pyc
*.csv
/python
.idea
/.settings
/data/*.db
/plugins/*
!/plugins/proto.py
!/plugins/mobile_app.py
!/plugins/signaling_examples.py
!/plugins/system_update.py
!/plugins/plugin_manager.py
/plugins/manifests/*
!/plugins/manifests/proto.manifest