[Unit]
Description=Start Python Interval program

[Service]
WorkingDirectory=/home/root/ospi
ExecStart=/usr/bin/python ospi.py
KillMode=process

[Install]
WantedBy=multi-user.target