[Unit]
Description=Start Python Interval program

[Service]
WorkingDirectory=/home/root/OSPy
ExecStart=/usr/bin/python ospy.py
KillMode=process

[Install]
WantedBy=multi-user.target