@import "./functions" ;
@import "~bootstrap/scss/functions";
@import './variables';

/******** Overall Layout Styles **********/


div.controlblock {
  border: 3px solid $info;
  border-radius: 12px;
  margin: 8px 0px;
}

div.controlblock p, div.controlblock div {
  padding: 2px 24px;
}

span.stationName:after {
  content: ",";
}

span.stationName:last-child:after {
  content: "";
}



.program p:first-child {
  background-color: $info;
  color: white
}

.program.disabled {
  border-color: $danger;
}

.program.disabled p:first-child {
  background-color: $danger;
  color: white
}

/******** General Global Styles **********/

.showInterval {
  text-align: center;
}

.program p:first-child .val {
  color: white;
}

.val {
  @extend .font-weight-bold;
  @extend .text-primary;
}

.countdown, .rainsense {
  color: $danger;
  font-family: Quicksand, sans-serif;
  font-size: 12pt;
  font-weight: 700;
  text-transform: uppercase;
}



/******** Button Styles **********/

button {
  padding: 4px 12px;
  font-family: Quicksand, sans-serif;
  color: white;
  background-color: $primary;
}

button:hover {
  color: $warning;
}

button.on {
  background-color: $primary;
}

button.off {
  background-color: $danger;
}

button.execute {
  background-color: $info;
  margin: 2px;
}

button.help {
  font-weight: 700;
  background-color: $info;
}

button.toggle {
  background-repeat: no-repeat;
  background-position: center center;
  width: 304px;
  padding: 4px;
  text-align: center;
  color: #DDD;
}

button.toggle.on {
  background-color: $primary;
  background-image: img-url('on.png');
}

button.toggle.on:hover {
  color: $warning;
  background-image: img-url('off.png');
}

button.toggle.off {
  background-color: $danger;
  background-image: img-url('off.png');
}

button.toggle.off.choice {
  background-color: $primary;
  background-image: img-url('off.png');
}

button.toggle.off:hover {
  color: $warning;
  background-image: img-url('on.png');
}

button.toggle span.togglesep {
  display: inline-block;
  width: 50px;
}

button.toggle span.toggleleft {
  display: inline-block;
  text-align: right;
  width: 120px;
}

button.toggle span.toggleright {
  display: inline-block;
  text-align: left;
  width: 120px;
}

button.toggle.on span.toggleright, button.toggle.off span.toggleleft {
  font-weight: 400;
}

button.toggle.off span.toggleright, button.toggle.on span.toggleleft {
  font-weight: 700;
  color: white;
}

#controls button#cSubmit {
  background-color: $primary;
}

#controls button#cSubmit:disabled {
  background-color: #AAA;
}

button.danger {
  background-color: $danger;
}

button.toggle.narrow {
  width: 140px;
}

button.toggle.narrow span.toggleright, button.toggle.narrow span.toggleleft {
  width: 36px;
}

#options button, #controls button {
  margin: 4px 0px;
}

button.weekday {
  width: 100%;
}

button.pushon.on {
  font-weight: 700;
}

input.timeInput {
  font-size: 12pt;
}

/******** Station Table Styles **********/




table.stationList {
  background-color: white;
  border: 3px solid $info;
  border-radius: 12px;
  padding: 4px;
  border-spacing: 0px;
  empty-cells: show;
  border-collapse: separate;
}

td.station_name {
  text-align: right;
  padding: 0px 12px;
  color: $info;
  font-weight: 700;
  width: 12em;
  height: 30px;
  white-space: nowrap;
}

table.stationList td {
  text-transform: uppercase;
  margin-bottom: 1px;
}

table.stationList td.station_name {
  text-transform: none;
}

tr.even {
  background-color: #DDD;
}

td.stationStatus {
  color: white;
  background-color: $danger;
  padding: 0px 12px;
  border-bottom: 2px solid white;
}

td.stationStatus.station_on {
  background-color: $green;
}

td.stationStatus.station_off {
  background-color: $danger;
}

td.stationStatus.station_waiting {
  background-color: $primary;
}

td.stationStatus.station_disabled {
  background-color: #AAA;
}

td.stationOn.dayOn {
  background-color: $green;
  text-align: center;
  color: white;
  border-radius: 6px;
  background-image: img-url('checkmark.png');
  background-position: center center;
  background-repeat: no-repeat;
}

td.stationOn {
  background-color: $warning;
  border-radius: 8px;
}

td.dayOn {
  background-color: $warning;
  border-radius: 8px;
}


/******** Interval Selector Styles **********/

.animatedSelector {
  font-size: 26px;
  text-align: center;
  width: 500px;
}

.intervalSelect {
  line-height: 60px;
  border-radius: 12pt;
  padding: 3px;
  cursor: pointer;
}

.intervalSelect.distance0 {
  background-color: $green;
  color: white;
}

.intervalSelect:hover {
  border: 2px solid $green;
}

.intervalSelect.distance1 {
}

.intervalSelect.distance2 {
}



/******** Timeline Styles **********/

td.stationSchedule {
  padding: 0px;
}

.scheduleMarkerContainer {
  margin: 0px;
  padding: 0px;
  height: 28px;
  position: relative;
}

.scheduleMarker {
  position: absolute;
  top: 0px;
  height: 28px;
}

.nowMarker {
  position: absolute;
  top: 0px;
  background-color: $danger;
  height: 28px;
}

.nowMarker.on {
  background-color: $primary;
}

.scheduleMarker .markerDetail {
  display: none;
}

.scheduleTick {
  position: relative;
  font-size: 9px;
  text-align: center;
  color: $info;
  border-right: 1px solid $info;
}

.scheduleTick:last-child {
  border-right: none;
}

.program0 {
  background-color: hsl(50, 80%, 40%)
}

.program1 {
  background-color: hsl(150, 80%, 40%)
}

.program2 {
  background-color: hsl(225, 80%, 40%)
}

.program3 {
  background-color: hsl(75, 80%, 40%)
}

.program4 {
  background-color: hsl(175, 80%, 40%)
}

.program5 {
  background-color: hsl(250, 80%, 40%)
}

.program6 {
  background-color: hsl(100, 80%, 40%)
}

.program7 {
  background-color: hsl(200, 80%, 40%)
}

.program8 {
  background-color: hsl(275, 80%, 40%)
}

.program9 {
  background-color: hsl(125, 80%, 40%)
}

.programManual {
  background-color: hsl(25, 80%, 40%)
}

.schedule {
  background-image: img-url("whitestripes.png");
}



.scheduleMarker.showDetails {
  border: 1px solid black;
}

#displayScheduleDate {
  text-transform: none;
}

#legend span {
  padding: 2px 6px;
  color: white;
  margin: 0px 4px;
  font-size: 9pt;
}

@media only screen and (max-width: 1024px) {


  td.stationStatus {
    padding: 0 6px;
    font-size: 10pt;
  }
  td.station_name {
    font-size: 10pt;
  }


  #programs table tr:nth-child(2).showWeekly td {
    height: 90px;
    max-width: 26px;
  }
  #programs table tr:nth-child(2).showWeekly td button.weekday {
    -webkit-transform: rotate(-90deg);
    font-size: 8pt;
    height: 26px;
    width: 90px;
    text-align: left;
    margin-left: -24px;
  }
  .animatedSelector {
    width: 100%;
    max-width: 100%;
  }
}
