#
# sip-ssl.cnf
#
# Link:
# https://www.nullalo.com/en/generating-a-valid-self-signed-certificate-for-apache-and-chrome/
#https://serverfault.com/questions/880804/can-not-get-rid-of-neterr-cert-common-name-invalid-error-in-chrome-with-self
#
#

[ req ]
prompt = no
encrypt_key = no
default_bits = 2048
default_keyfile = sip.key
distinguished_name = SIP_distinguished_name
req_extensions = SAN


[ SIP_distinguished_name ]
commonName = SIP-CN
stateOrProvinceName = California
countryName = US
emailAddress = emailaddress@example.com
organizationName = SIP
organizationalUnitName = Development

[SAN]
subjectAltName = raspberrypi