//Bootstrap styles

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";
@import "styles/variables";
@import "~bootstrap/scss/bootstrap";

$fa-font-path: "../fonts/fontAwesome";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";

$btn-primary-bg: theme-color('primary');
$btn-primary-color: color-yiq($btn-primary-bg);
$border-radius-base: $border-radius;
$gray-lighter: $gray-600;
$gray-light: $gray-800;
$screen-sm-min: breakpoint-min('sm');
$screen-md-min: breakpoint-min('md');
$screen-lg-min: breakpoint-min('lg');
@import "~eonasdan-bootstrap-datetimepicker/src/sass/bootstrap-datetimepicker-build";


@import "./styles/base";

.navbar .nav-item {
    $-hover-color: theme-color('primary');

    .nav-link {
        z-index: 1;
        position: relative;
        transition: $transition-base;
        padding-right: $navbar-nav-link-padding-x;
        padding-left: $navbar-nav-link-padding-x;
    }

    @include media-breakpoint-down('md') {
        .nav-link {
            &:hover, &:focus {
                background-color: lighten($-hover-color, 5%);
            }
        }
        &.active .nav-link {
            background-color: $-hover-color;
        }

    }


    @include media-breakpoint-up('lg') {

        .nav-link {
            &:before {
                content: '';
                height: calc(100% + 1px);
                position: absolute;
                transform: skewX(-18deg);
                width: 100%;
                left: 0;
                top: 0;
                z-index: -1;
                transition: $transition-base;
            }

            &:hover:before, &:focus:before {
                background-color: lighten($-hover-color, 5%);

            }
        }

        &.active .nav-link:before {
            background-color: $-hover-color;
        }

    }
}

.c-bgImg {
    background-size: cover;
    background-repeat: no-repeat;

    &--grass {
        background-image: img-url('grass.png')
    }
}


.js-interval, .js-intervalDelay {
    @extend .btn;
    @extend .btn-outline-primary;
    border: none;
    padding: 2px 6px;
    transition: all .2s;

    &:hover {
        font-size: 130%;
    }

    &.active {
        font-size: 130%;
    }
}
