$def with ()

$var title: SIP Irrigation Control
$var page: home
$var header:  $_(u'Status')

$code:
	tf = gv.sd[u"tf"]
	snames = gv.snames

$code:
	def two_digits(n):
		return '%02d' % int(n)

$code:
    def plugin_adjustment():
        duration_adjustments = [gv.sd[entry] for entry in gv.sd if entry.startswith(u'wl_')]
        result = 100.0
        for entry in duration_adjustments:
            result *= entry/100.0
        return '%.0f' % result

$code:
    def plugin_adjustment_list():
        duration_adjustments = [gv.sd[entry] for entry in gv.sd if entry.startswith(u'wl_')]
        result = []
        for entry in duration_adjustments:
            result.append('%.0f%%' % entry)
        return ' * '.join(result)

$code:
    def total_adjustment():
        duration_adjustments = [gv.sd[entry] for entry in gv.sd if entry.startswith(u'wl_')]
        result = float(gv.sd[u"wl"])
        for entry in duration_adjustments:
            result *= entry/100.0
        return '%.0f' % result

<script>
    var priorRs = ${gv.sd[u"rs"]};
    var useRainsense = ${gv.sd[u"urs"]};
    var devt = ${gv.now}

    function formatLogline(log) {
        var lrsid = lrun[0], lrpid = lrun[1], lrdur = lrun[2], lret = lrun[3];
        if (lrpid == 0) {
            return "n/a";
        }
        var pname = "P" + lrpid;
        if (lrpid == 255 || lrpid == 99) {
            pname = $:{json.dumps(_(u'Manual Mode'), ensure_ascii=False)};
        }
        if (lrpid == 254 || lrpid == 98) {
            pname = $:{json.dumps(_(u'Run Once Program'), ensure_ascii=False)};
        }
        var runDate = (new Date(lret * 1000)).toString(); // + timezoneSuffix; //dk
        return snames[lrsid] + $:{json.dumps(_(u' ran '), ensure_ascii=False)} + pname + $:{json.dumps(_(u' for '), ensure_ascii=False)} + (lrdur / 60>>0) + "m" + (lrdur % 60) + "s" + $:{json.dumps(_(u' on '), ensure_ascii=False)} + runDate;
    }

    function updateStatus(status) {
        var display, updateInterval = 30000;
        for (var s=0; s<status.length; s++) {
            var station = status[s];
            var classes = "stationStatus station_" + station.status;
            switch (station.reason) {
                case "program" :
                    var minutes = Math.floor(station.remaining / 60);
                    var seconds = Math.floor(station.remaining - 60*minutes);
                    if (minutes < 10) {minutes = "0"+minutes;}
                    if (seconds < 10) {seconds = "0"+seconds;}
                    if (station.status == "on") {
                        display = minutes+":"+seconds;
                    } else {
                        display = "(" + minutes+":"+seconds + ")";
                    }
                    updateInterval = 1000;
                    break;
                case "master" :
                    classes += " master";
                    if (station.status == "on") {
                        display = $:{json.dumps(_(u'Master On'), ensure_ascii=False)};
                    } else {
                        display = $:{json.dumps(_(u'Master Off'), ensure_ascii=False)};
                        classes += " strike";
                    }
                    break;
                case "rain_delay" :
                    display = $:{json.dumps(_(u'Suppressed by Rain Delay'), ensure_ascii=False)};
                    break;
                case "rain_sensed" :
                    display = $:{json.dumps(_(u'Suppressed by Rain Sensor'), ensure_ascii=False)};
                    break;
                default:
                    display = $:{json.dumps(_(u'Off'), ensure_ascii=False)};
            }
            jQuery("td#status" + station.station)
                .text(display)
                .removeClass()
                .addClass(classes);
        }
        setTimeout(statusTimer,updateInterval);
        if (updateInterval > 1000) {

            schedule.displayProgram();
        }
    }
    function statusTimer() {
        jQuery.getJSON(baseUrl + "/api/status", updateStatus)
    }

    function countdownTimer(el) {
        alert(jQuery(el).html());
    }

    function rainChange() {
    	jQuery.get("rss", function(data){
	    	if(priorRs != data) {
	    		priorRs = data;
	    		location.reload();
	    	}
    	})
    }

    var restarted = ${gv.restarted};

    // Initialize behaviors
    jQuery(document).ready(function(){
        var mainForm=  jQuery('form[name="hf"]');
    	if(useRainsense){
    		var rainCheck = setInterval(rainChange, 1000);
    	}

        if(restarted == 0) {
        	alert("SIP could not restart.\nPlease restart the program from the command line.");
        }

        $if gv.sd['mm'] == 0:
            statusTimer();

        jQuery('[name="cStartStop"]').change(function(){
            mainForm.find('input[name="en"]').val(jQuery('[name="cStartStop"]:checked').val());
            mainForm.submit();
        });

        jQuery('[name="cManual"]').click(function(){
            mainForm.find('input[name="mm"]').val(jQuery('[name="cManual"]:checked').val());
           mainForm.submit();
        });

        jQuery('[name="cRainDelay"]').click(function(){
            var  h= jQuery('[name="cRainDelay"]:checked').val()
            if (h != 0) {
                h = prompt($:{json_dump(_(u'Enter hours to delay'))},h);
            }
            if (h < 0) {
                var h = prompt("Delay must be a positive value","0");
            }
            if (h != null && h >= 0){
                mainForm.find('input[name="rd"]').val(h);
                mainForm.submit();

            }
        });

        jQuery('[name="cWaterLevel"]').click(function(){
            var  w= jQuery('[name="cWaterLevel"]:checked').val()
            if (w != 100) {
                 w = prompt($:{json_dump(_(u'Enter percentage adjustment'))},w);
            }
            if (w != null) {
                mainForm.find('input[name="wl"]').val(w);
                mainForm.submit();
            }
        });

        jQuery("button.manual").click(function () {
            sid = parseInt(jQuery(this).attr("id"));
            sbit = jQuery(this).hasClass("on");
            if (sbit) {
                window.location = baseUrl + "/sn?sid="+(sid+1)+"&set_to=0"; // turn off station
            } else {
                var strmm = jQuery("#mm"+sid).val();
                var strss = jQuery("#ss"+sid).val();
                var mm = (strmm == "" ? 0 : parseInt(strmm));
                var ss = (strss == "" ? 0 : parseInt(strss));
                if (!(mm >= 0 && ss >= 0 && ss < 60)) {
                    alert($:{json.dumps(_(u'Timer values wrong: '), ensure_ascii=False)} + strmm + ":" + strss);
                    return;
                }
                window.location = baseUrl+ "/sn?sid=" + (sid+1) + "&set_to=1" + "&set_time=" + (mm*60+ss);  // turn it off with timer
            }
        });


        jQuery("button#pPrev").click(function () {
            schedule.displayScheduleDate.setDate(schedule.displayScheduleDate.getDate() - 1);
            schedule.displayProgram();
        });
        jQuery("button#pToday").click(function () {
            var day = new Date()  //dk
            schedule.displayScheduleDate.setDate(day.getDate());
            schedule.displayScheduleDate.setMonth(day.getMonth()); //dk
            schedule.displayProgram();
        });
        jQuery("button#pNext").click(function () {
            schedule.displayScheduleDate.setDate(schedule.displayScheduleDate.getDate() + 1);
            schedule.displayProgram();
        });

        jQuery(".countdown").each(function() {
            countdownTimer(jQuery(this).attr('id'));
        });
    });

    function countdownTimer(timerId) {
        var timerElement = jQuery("#" + timerId);
        var timerValue = parseFloat(timerElement.attr("data"));
        var remaining = timerValue - devt; //Date.now(); // DK change
        var rHours = Math.floor(remaining / 3600000);
        var rMinutes = Math.floor((remaining%3600000) / 60000);
        if (rHours <=0 && rMinutes <=0) {
            window.location = baseUrl + "/";
        } else {
            timerElement.text((rHours<10 ? "0" : "") + rHours + ":" + (rMinutes<10 ? "0" : "") + rMinutes);
            setTimeout("countdownTimer('" + timerId + "')", 2000);
        }
    }
</script>



    <div class="my-3">
        <div class="btn-group btn-group-toggle" data-toggle="buttons" >
            <label class="btn btn-outline-primary  ${'active' if  gv.sd[u'en'] else ''}"  >
                <input type="radio" autocomplete="off" name="cStartStop" value="1" ${'checked' if  gv.sd[u'en'] else ''}>
                $_(u'System On')
            </label>
            <label class="btn btn-outline-danger   ${'' if  gv.sd[u'en'] else 'active'}"  >
                <input type="radio" autocomplete="off" name="cStartStop" value="0" ${'' if  gv.sd[u'en'] else 'checked'}>
                $_(u'System Off')
            </label>
        </div>
    </div>


    <div class="my-3">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-outline-primary btn-sm  ${'active' if gv.sd[u'wl']==100 else ''}"  >
                <input type="radio" autocomplete="off" name="cWaterLevel" value="100" ${'checked' if gv.sd[u'wl']==100 else ''}>
                $_(u'Normal')
            </label>
            <label class="btn btn-outline-primary btn-sm  ${'' if gv.sd[u'wl']==100 else 'active'}" >
                <input type="radio" autocomplete="off" name="cWaterLevel" value="${'0' if gv.sd[u'wl']==100 else gv.sd[u'wl']}" ${'' if gv.sd[u'wl']==100 else 'checked'}>
                ${_(u'Water Level') if gv.sd[u'wl']==100 else str(gv.sd['wl']) + '% ' + _(u'Level')}
            </label>
        </div>

        $if int(plugin_adjustment()) != 100:
            <span class="badge badge-pill badge-secondary">
                $_(u'Plugin adjustments'): ${plugin_adjustment_list()}
            </span>
                $if gv.sd[u'wl']==100 and '*' not in plugin_adjustment_list():
                   .
                $else:
                    <span class="badge badge-pill badge-secondary">
                    $_(u'Total adjustment'): ${total_adjustment()} %
                    </span>


    </div>

    <div class="my-3">
        $ isOff = (gv.sd[u'rd'] or (gv.sd[u'urs'] and gv.sd[u'rs']))

        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-outline-primary btn-sm  ${'' if isOff else 'active'}"  >
                <input type="radio" autocomplete="off" name="cRainDelay" value="0" ${'' if isOff else 'checked'}>
                $_(u'Active')
            </label>
            <label class="btn btn-outline-primary btn-sm  ${'active' if isOff else ''}" >
                <input type="radio" autocomplete="off" name="cRainDelay" value="${'1' if gv.sd[u'rd']==0 else gv.sd[u'rd']}" ${'checked' if isOff else ''}>
                $_(u'Rain Delay')
            </label>
        </div>


        $if gv.sd[u'urs']:
            <span class="badge badge-warning badge-pill">
                ${u'' if gv.sd[u'rs'] else _(u'no')} $_(u'rain sensed')
            </span>

        $if gv.sd[u'rdst'] - gv.now > 0:
            <span class="badge badge-warning badge-pill">
            $_(u'Rain delay time left'):  $str((int(gv.sd[u'rdst'] - gv.now) // 3600)):$str(int((gv.sd[u'rdst'] - gv.now) % 3600 // 60)).zfill(2)
            </span>

    </div>



    <div class="my-3">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-outline-primary btn-sm  ${'' if gv.sd[u'mm'] else 'active'}">
                <input type="radio" autocomplete="off" name="cManual" value="0" ${'' if gv.sd[u'mm'] else 'checked'}>
                $_(u'Auto')
            </label>
            <label class="btn btn-outline-primary btn-sm  ${'active' if gv.sd[u'mm'] else ''}">
                <input type="radio" autocomplete="off" name="cManual" value="1" ${'checked' if gv.sd[u'mm'] else ''}>
                $_(u'Manual')
            </label>
        </div>
    </div>



<div class="">

$if gv.sd[u'mm']:
    <div id="manualmode" class="card">
        <div  class=" card-body">
        $# Manual program control formatting
        $for bid in range(0, gv.sd[u'nbrd']):
            $for s in range(0,8):
                $ sid = bid*8 + s;
                $ sn = sid + 1
                $ sbit = (gv.sbits[bid]>>s)&1
                $ show = (gv.sd[u'show'][bid]>>s)&1
                $if show == 1:
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-sm-right font-weight-bold text-info">${snames[sid]}</label>
                        $if sn == gv.sd[u'mas']:
                            <div class="col-auto col-form-label text-muted font-weight-bold">
                                $if sbit:
                                    $_(u'On (Master)')
                                $else:
                                    $_(u'Off (Master)')
                            </div>
                        $else:
                            $ rem = gv.ps[sid][1]
                            $if rem > 65536:
                                $ rem = 0

                            <div class="col-1 col-form-label text-muted ">${'in' if sbit else 'for'}</div>
                            <div class="input-group align-items-center col-xl-2 col-lg-3 col-md-4 col-sm-6">
                                <input type="number"  min="0" max="60" class="form-control" name="mm${sid}" value="${two_digits(rem/60)}"
                                       placeholder="minutes"/>
                                <span class="input-group-text px-1 rounded-0">:</span>
                                <input type="number" min="0" max="59" class="form-control" name="ss${sid}" value="${two_digits(rem%60)}"
                                       placeholder="seconds"/>
                            </div>
                            <div class="col-auto col-form-label text-muted">(mm:ss)</div>

                    </div>

        </div>
    </div>

$else:
    <div id="programmode">
        <table id="stations" class="stationList">
            <tr>
                <td colspan="2"></td>
                <td colspan="8">
                    <span id="displayScheduleDate"></span>
                </td>
                <td colspan="16" class="text-right py-4">
                    <button id="pPrev" class="btn btn-info btn-sm">&lt;&lt; $_(u' Prev Day')</button>
                    <button id="pToday" class="btn btn-info btn-sm">$_(u'Today')</button>
                    <button id="pNext" class="btn btn-info btn-sm">$_(u'Next Day') &gt;&gt;</button>
                </td>
            </tr>
            <tr><td colspan="2">
                $for t in ['00:00','01:00','02:00','03:00','04:00','05:00','06:00','07:00','08:00','09:00','10:00','11:00','12:00','13:00','14:00','15:00','16:00','17:00','18:00','19:00','20:00','21:00','22:00','23:00']:
                <td class="scheduleTick">${format_time(t)}</td>

            </tr>

            $ odd = 1
            $for bid in range(0, gv.sd[u'nbrd']):
                $for s in range(0,8):
                    $ sid = bid*8 + s;
                    $ sn = sid + 1
                    $ show = (gv.sd[u'show'][bid]>>s)&1
                    $if show == 1:
                        <tr class="stationSchedule ${'odd' if odd else 'even'}" id='schedule${sid}' data="${sid}">
                            <td class='station_name'>${snames[sid]}</td>
                            <td id='status${sid}' class="stationStatus">$_(u'loading...')</td>
                            $for s in range(23):
                                <td class="scheduleTick" data="${s}"></td>

                        </tr>
                    $ odd = 1 - odd
            <tr>
                <td colspan="24" id="legend" class="text-center"></td>
            </tr>
        </table>
    </div>


</div>


<form name="hf" action="${app_path('/cv')}" method="get">
    <input type="hidden" name="en">
    <input type="hidden" name="mm">
    <input type="hidden" name="rd">
    <input type="hidden" name="wl">
    <input type="hidden" name="rbt" value="0">
</form>

<a href="${app_path('/cv?rsn=1')}" class="btn btn-info">$_(u'Stop All Stations')</a>
