$def with(m_vals)

$var title: OpenSprinkler Pi LCD settings
$var page: plugins

<script>
    // Initialize behaviors
    jQuery(document).ready(function(){

        jQuery("#cSubmit").click(function() {
            jQuery("#pluginForm").submit();
        });
        jQuery("button#cCancel").click(function(){
            window.location="/";
        });

    });
</script>

<div id="plugin">
    <div class="title">LCD settings</div>
    <p>This plugin sends data to I2C for LCD 16x2 char with PCF8574. Visit for more: www.pihrt.com/elektronika/258-moje-rapsberry-pi-i2c-lcd-16x2.</p>
    <form id="pluginForm" action="/lcda" method="get">
        <table class="optionList">
            <tr>
                <td style='text-transform: none;'>Use I2C LCD:</td>
                <td>
                    <input name='use_lcd' type='checkbox'${" checked" if m_vals['use_lcd'] == "on" else ""}>   
                </td>
            </tr>
            <tr>
                <td style='text-transform: none;'>Adress for PCF8574:</td>
                <td>
                    <input name='adress' type='text' value=$m_vals["adress"]> (default 0x20)
                </td>
            </tr>
            <tr>
                <td style='text-transform: none;'>Range adress: </td>
                <td>
                    PCF8574 = 0x20-0x27, PCF8574A = 0x38-0x3F
                </td>
            </tr>
            <tr>
                <td style='text-transform: none;'>Status:</td>
                <td>
                    <textarea style="font-family: monospace;" rows="7" cols="35" readonly>$m_vals['status']</textarea>
                </td>
            </tr>
        </table>
    </form>
<p>Compatible with HD44780 LCD 16x2 controller.</p>
</div>
<div id="controls">
    <button id="cSubmit" class="submit"><b>Submit</b></button>
    <button id="cCancel" class="cancel danger">Cancel</button>
</div>
                                  
                     
