$def with (records)

$var title: $_('OpenSprinkler Pi Log')
$var page: log
$code:
	snames = gv.snames
	if gv.sd['lg'] == 1:
		log_state = _("Enabled")
		log_option = "checked"
	else:
		log_state = _("Disabled")
		log_option = ""
		
	def formatTime(t):
		if gv.sd['tf']:
			return t
		else:
			hour = int(t[0:2])
			newhour = hour
			if hour == 0:
				newhour = 12
			if hour > 12:
				newhour = hour-12
			return str(newhour)  + t[2:] + (" am" if hour<12 else " pm")


<script>
    // Initialize behaviors
    jQuery(document).ready(function(){
        jQuery("button#nRefresh").click(function(){
            window.location="/vl";
        });
        jQuery("button#nDeleteAll").click(function(){
            jQuery("form#df").submit();
        });
    });

</script>

<div id="options">
    <div class="title">$_('Log ')$log_state</div>
    <form method="get" action="cl" name="df" id="df"></form>
</div>

<div id="log">
    <p>$_('Total number of records: ')${len(records)} (${_("no") if gv.sd['lr']==0 else gv.sd['lr']}$_(' limit'))</p>
    <p>$_('Download log as ')<a href="/wl">csv</a>.</p>

    <table class="logList">
        <tr class="log_rec">
            <th>$_('Date')</th>
            <th>$_('Start Time')</th>
            <th>$_('Station')</th>
            <th>$_('Duration')</th>
            <th>$_('Program')</th>
        </tr>
        $ odd = 1
        $for r in records:
            $ event = r #  ast.literal_eval(json.loads(r))
            <tr class="log_rec ${'odd' if odd else 'even'}">
                <td align='center'>${event["date"]}</td>
                <td align='center'>${formatTime(event["start"])}</td>
                <td align='center'>${snames[event["station"]]}</td>
                <td align='center'>${event["duration"]}</td>
                <td align='center'>${event["program"]}</td>
            </tr>
            $ odd = 1 - odd
    </table>

</div>

<div id="controls">
    <button id="nRefresh" class="refresh">$_('Refresh')</button>
    <button id="nDeleteAll" class="delete danger">$_('Clear Log')</button>
</div>
