$def with (records)

$var title: $_(u'SIP Log')
$var page: log
$code:
	snames = gv.snames
	if gv.sd['lg'] == 1:
		log_state = _(u"Enabled")
		log_option = "checked"
	else:
		log_state = _(u"Disabled")
		log_option = ""
		
	def formatTime(t):
		if gv.sd['tf']:
			return t
		else:
			hour = int(t[0:2])
			newhour = hour
			if hour == 0:
				newhour = 12
			if hour > 12:
				newhour = hour-12
			return str(newhour) + t[2:] + (" am" if hour<12 else " pm")


<script>
    // Initialize behaviors
    jQuery(document).ready(function(){
        jQuery("button#nRefresh").click(function(){
            window.location = baseUrl + "/vl";
        });
        jQuery("button#nDeleteAll").click(function(){
            jQuery("form#df").submit();
        });
    });

</script>

<div id="options">
    <div class="title">$_(u'Log ')$log_state</div>
    <form method="get" action="${app_path('/cl')}" name="df" id="df"></form>
</div>

<div id="log">
    <p>$_(u'Total number of records: ')${len(records)} (${_(u"no") if gv.sd['lr'] == 0 else gv.sd['lr']}$_(u' limit'))</p>
    <p>$_(u'Download log as ')<a href="$app_path('/wl')">csv</a>.</p>

    <table class="logList">
        <tr class="log_rec">
            <th>$_(u'Date')</th>
            <th>$_(u'Start Time')</th>
            <th>$_(u'Station')</th>
            <th>$_(u'Duration')</th>
            <th>$_(u'Program')</th>
        </tr>
        $ odd = 1
        $for r in records:
            $ event = r #  ast.literal_eval(json.loads(r))
            <tr class="log_rec ${'odd' if odd else 'even'}">
                <td align='center'>${event["date"]}</td>
                <td align='center'>${formatTime(event["start"])}</td>
                <td align='center'>${snames[event["station"]]}</td>
                <td align='center'>${event["duration"]}</td>
                <td align='center'>${event["program"]}</td>
            </tr>
            $ odd = 1 - odd
    </table>

</div>

<div id="controls">
    <button id="nRefresh" class="refresh">$_(u'Refresh')</button>
    <button id="nDeleteAll" class="delete danger">$_(u'Clear Log')</button>
</div>
