$def with (records)

$var title: $_(u'SIP Log')
$var page: log

$code:
	snames = gv.snames
	if gv.sd['lg'] == 1:
		log_state = _(u"Enabled")
		log_option = "checked"
	else:
		log_state = _(u"Disabled")
		log_option = ""

	def formatTime(t):
		if gv.sd['tf']:
			return t
		else:
			hour = int(t[0:2])
			newhour = hour
			if hour == 0:
				newhour = 12
			if hour > 12:
				newhour = hour-12
			return str(newhour) + t[2:] + (" am" if hour<12 else " pm")



$var header: $_(u'Log ')$log_state

<div>
    <p>$_(u'Total number of records: ')${len(records)} (${_(u"no") if gv.sd['lr'] == 0 else gv.sd['lr']}$_(u' limit'))</p>
    <p>$_(u'Download log as ')<a class="btn btn-link font-weight-bold py-0 px-1" href="$app_path('/wl')">csv</a>.</p>

    <div class="table-responsive">
    <table class="table table-striped  table-hover  table-sm">
        <tr class="log_rec">
            <th>$_(u'Date')</th>
            <th>$_(u'Start Time')</th>
            <th>$_(u'Station')</th>
            <th>$_(u'Duration')</th>
            <th>$_(u'Program')</th>
        </tr>
        $ odd = 1
        $for r in records:
            $ event = r #  ast.literal_eval(json.loads(r))
            <tr class="log_rec ${'odd' if odd else 'even'}">
                <td align='center'>${event["date"]}</td>
                <td align='center'>${formatTime(event["start"])}</td>
                <td align='center'>${snames[event["station"]]}</td>
                <td align='center'>${event["duration"]}</td>
                <td align='center'>${event["program"]}</td>
            </tr>
            $ odd = 1 - odd
    </table>
    </div>
</div>

<div class="d-flex mt-4" >
    <a class="btn btn-success mr-2 mb-2" href="/vl">$_(u'Refresh')</a>

    <form method="get" action="${app_path('/cl')}" name="df" id="df">
        <button type="submit" class="btn btn-danger">$_(u'Clear Log')</button>
    </form>
</div>
