$def with(m_vals)

$var title: $_('SIP Monthly Adjustments')
$var page: plugins
<script>

    // Initialize behaviors
    jQuery(document).ready(function(){

        jQuery("#cSubmit").click(function() {
            jQuery("#pluginForm").submit();
        });
        jQuery("button#cCancel").click(function(){
            window.location= baseUrl + "/";
        });

    });
</script>

<div id="plugin">
    <div class="title">$_('Monthly Irrigation Adjustments')</div>
    <p>$_('Enter an adjustment for each month (% irrigation time)')</p>
    <form id="pluginForm" action="${app_path('/uma')}" method="get">
        <table class="optionList">
            <tr>
                <td style='text-transform: none;'>$_('January'):</td>
                <td><input type="text" name="jan" value=$m_vals[0]></td>
            </tr>
            <tr>
                <td style='text-transform: none;'>$_('February'):</td>
                <td><input type="text" name="feb" value=$m_vals[1]></td>
            </tr>
            <tr>
                <td style='text-transform: none;'>$_('March'):</td>
                <td><input type="text" name="mar" value=$m_vals[2]></td>
            </tr>
            <tr>
                <td style='text-transform: none;'>$_('April'):</td>
                <td><input type="text" name="apr" value=$m_vals[3]></td>
            </tr>
            <tr>
                <td style='text-transform: none;'>$_('May'):</td>
                <td><input type="text" name="may" value=$m_vals[4]></td>
            </tr>
            <tr>
                <td style='text-transform: none;'>$_('June'):</td>
                <td><input type="text" name="jun" value=$m_vals[5]></td>
            </tr>
            <tr>
                <td style='text-transform: none;'>$_('July'):</td>
                <td><input type="text" name="jul" value=$m_vals[6]></td>
            </tr>
            <tr>
                <td style='text-transform: none;'>$_('August'):</td>
                <td><input type="text" name="aug" value=$m_vals[7]></td>
            </tr>
            <tr>
                <td style='text-transform: none;'>$_('September'):</td>
                <td><input type="text" name="sep" value=$m_vals[8]></td>
            </tr>
            <tr>
                <td style='text-transform: none;'>$_('October'):</td>
                <td><input type="text" name="oct" value=$m_vals[9]></td>
            </tr>
            <tr>
                <td style='text-transform: none;'>$_('November'):</td>
                <td><input type="text" name="nov" value=$m_vals[10]></td>
            </tr>
            <tr>
                <td style='text-transform: none;'>$_('December'):</td>
                <td><input type="text" name="dec" value=$m_vals[11]></td>
            </tr>
        </table>
    </form>
</div>
<div id="controls">
    <button id="cSubmit" class="submit"><b>$_('Submit')</b></button>
    <button id="cCancel" class="cancel danger">$_('Cancel')</button>
</div>