$def with(m_vals)

$var title: OpenSprinkler Pi Weather-based Water Level
$var page: plugins
<script>
    // Initialize behaviors
    jQuery(document).ready(function(){

        jQuery("#cSubmit").click(function() {
            jQuery("#pluginForm").submit();
        });
        jQuery("button#cCancel").click(function(){
            window.location="/";
        });

    });
</script>

<div id="plugin">
    <div class="title">Monthly Irrigation Adjustments</div>
    <p>Enter an adjustment for each month (% irrigation time)</p>
    <form id="pluginForm" action="/uma" method="get">
        <table class="optionList">
            <tr>
                <td style='text-transform: none;'>January:</td>
                <td><input type="text" name="jan" value=$m_vals[0]></td>
            </tr>
            <tr>
                <td style='text-transform: none;'>February:</td>
                <td><input type="text" name="feb" value=$m_vals[1]></td>
            </tr>
            <tr>
                <td style='text-transform: none;'>March:</td>
                <td><input type="text" name="mar" value=$m_vals[2]></td>
            </tr>
            <tr>
                <td style='text-transform: none;'>April:</td>
                <td><input type="text" name="apr" value=$m_vals[3]></td>
            </tr>
            <tr>
                <td style='text-transform: none;'>May:</td>
                <td><input type="text" name="may" value=$m_vals[4]></td>
            </tr>
            <tr>
                <td style='text-transform: none;'>June:</td>
                <td><input type="text" name="jun" value=$m_vals[5]></td>
            </tr>
            <tr>
                <td style='text-transform: none;'>July:</td>
                <td><input type="text" name="jul" value=$m_vals[6]></td>
            </tr>
            <tr>
                <td style='text-transform: none;'>August:</td>
                <td><input type="text" name="aug" value=$m_vals[7]></td>
            </tr>
            <tr>
                <td style='text-transform: none;'>September:</td>
                <td><input type="text" name="sep" value=$m_vals[8]></td>
            </tr>
            <tr>
                <td style='text-transform: none;'>October:</td>
                <td><input type="text" name="oct" value=$m_vals[9]></td>
            </tr>
            <tr>
                <td style='text-transform: none;'>November:</td>
                <td><input type="text" name="nov" value=$m_vals[10]></td>
            </tr>
            <tr>
                <td style='text-transform: none;'>December:</td>
                <td><input type="text" name="dec" value=$m_vals[11]></td>
            </tr>
        </table>
    </form>
</div>
<div id="controls">
    <button id="cSubmit" class="submit"><b>Submit</b></button>
    <button id="cCancel" class="cancel danger">Cancel</button>
</div>