$def with(m_vals)

$var title: OpenSprinkler Pi Pressure monitor settings
$var page: plugins
<script>
    // Initialize behaviors
    jQuery(document).ready(function(){

        jQuery("#cSubmit").click(function() {
            jQuery("#pluginForm").submit();
        });
        jQuery("button#cCancel").click(function(){
            window.location="/";
        });

    });
</script>

<div id="plugin">
    <div class="title">Pressure monitor settings</div>
    <p>This plugin checked pressure in pipe, if master station is switched on must be activated pressure sensor. </p>
    <p>If is not sensor activated in a certain time, switches off all station  and sends email with error. Prevent safety for master station pump.</p>
    <form id="pluginForm" action="/upressa" method="get">
        <table class="optionList">
            <tr>
                <td style='text-transform: none;'>Use pressure sensor for master station:</td>
                <td>
                    <input name='press' type='checkbox'${" checked" if m_vals['press'] == "on" else ""}> (Pressure sensor is connected between GPIO pin 22 and ground)  
                </td>
            </tr>
            <tr>
                <td style='text-transform: none;'>Send email with error:</td>
                <td>
                    <input name='sendeml' type='checkbox'${" checked" if m_vals['sendeml'] == "on" else ""}> (For this function required email plugin)
                </td>
            </tr>
            <tr>
                <td style='text-transform: none;'>Max time to activate pressure sensor:</td>
                <td>
                    <input name='time' type='number' min="0" max="999" value=$m_vals["time"]> (max 999 seconds)
                </td>
            </tr>
            <tr>
                <td style='text-transform: none;'>Pressure sensor:</td>
                <td>
                   $m_vals['sensor']
                </td>
            </tr>
            <tr>
                <td style='text-transform: none;'>Status:</td>
                <td>
                    <textarea style="font-family: monospace;" rows="7" cols="35" readonly>$m_vals['status']</textarea>
                </td>
            </tr>
        </table>
    </form>
</div>
<div id="controls">
    <button id="cSubmit" class="submit"><b>Submit</b></button>
    <button id="cCancel" class="cancel danger">Cancel</button>
</div>
