$def with ()

$var title: $_(u'SIP Programs')
$var page: programs
$var header: $_(u'SIP Programs')
$code:
    snames = gv.snames
    nprogs = len(gv.pd)

    #if gv.sd['idd'] and (gv.sd['nst'] > len(program['duration_sec'])):
	#	program['duration_sec'].extend([0] * (gv.sd['nst'] - len(program['duration_sec'])))

    def two_digits(n):
        return '%02d' % int(n)

    def pdays(days, dayInterval):
        output = ""
        if prog['type'] == 'interval':
            days = days&0x7f
            dse = int(gv.now/86400) # days since epoc
            daysRemaining = ((days + dayInterval)-(dse % dayInterval)) % dayInterval
            output += _(u"Every ") + str(dayInterval) + " " + _(u"days")
            if daysRemaining:
                output += ", " + _(u'starting in') + " " + str(daysRemaining) + " " + _(u'days') + "."
        else:
            if days == 127:
                output += _(u"Every Weekday")
            else:
                for d in range(0,7):
                    if days & (1<<d):
                        output += " " + [_(u"Mon"),_(u"Tue"),_(u"Wed"),_(u"Thur"),_(u"Fri"),_(u"Sat"),_(u"Sun")][d]
        if prog['type'] == 'evendays':
            output += _(u' (Even days only)')
        if prog['type'] == 'odddays':
            output += _(u' (Odd days only)')
        return output

    def formatTime(t):
        if gv.sd['tf']:
            return t
        else:
            hour = int(t[0:2])
            newhour = hour
            if hour == 0:
                newhour = 12
            if hour > 12:
                newhour = hour-12
            return str(newhour)  + t[2:] + (" am" if hour<12 else " pm")

<script>
    // Initialize behaviors
    jQuery(document).ready(function(){
        jQuery(".js-toggleProgram").change(function(){
            jQuery(this).parents('form').submit()
        });
    });

</script>


<div class="mb-3 d-flex flex-wrap">
    <form class="m-1"  action="${app_path('/mp')}" method="get">
        <input type="hidden" name="pid" value="-1">
        <button type="submit" class="btn btn-outline-primary">$_(u'Add a New Program')</button>
    </form>
    <form class="m-1"  action="${app_path('/dp')}" method="get">
        <input type="hidden" name="pid" value="-1">
        <button type="submit" class="btn btn-outline-danger">$_(u'Delete All')</button>
    </form>
</div>

<div id="programs" class="row justify-content-center align-items-stretch">
    $for pid in range(nprogs):
        $ prog = gv.pd[pid]
        <div class="col-12 col-sm-8 col-lg-6 my-4 align-self-stretch">
            <div id="p${pid}" class="h-100 card border program ${'disabled border-danger' if prog['enabled'] == 0 else 'border-primary'}">

                <header class="card-header d-flex flex-wrap flex-lg-nowrap   text-white ${'bg-danger' if prog['enabled'] == 0 else 'bg-info'}">
                   <div class="mt-1 mr-2">
                       <span class="h5">$_(u'Program') ${pid+1}: </span>
                       <span class="font-weight-bold ">${pdays(prog['day_mask'], prog['interval_base_day'])}</span>
                   </div>

                    <form class="ml-auto mt-1" action="${app_path('/ep')}" method="get">
                        <input type="hidden" name="pid" value="${pid}">
                        <input type="hidden" name="enable" value="0">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" autocomplete="false" class="custom-control-input js-toggleProgram" id="toggle-${pid}" value="1" name="enable" ${'' if prog['enabled'] == 0 else 'checked'}>
                            <label class="custom-control-label" for="toggle-${pid}">$_(u'On')/$_(u'Off')</label>
                        </div>
                    </form>


                </header>
                <div class="card-body d-flex flex-column">
                    $ start = prog['start_min']
                    $ end = prog['stop_min']
                    $ interval = prog['cycle_min']
                    $ duration = 0
                    <div class="stationList"><strong>$_(u'Run'):</strong>
                    $ sid = -1
                    $for bid in range(gv.sd['nbrd']):
                        $if len(prog) >= 8 + bid and isinstance(prog['station_mask'][bid], int):
                            $ bits = prog['station_mask'][bid]
                        $else:
                            $ bits = 0
                        $for s in range(8):
                            $ sid += 1
                            $if (gv.sd['show'][bid]>>s)&1 and bits&(1 << s):
                                <span class="stationName val">${snames[sid]}</span>
                                $if gv.sd['seq'] :
                                    $if gv.sd['idd'] :
                                        $ duration += prog['duration_sec'][sid]
                                    $else:
                                        $ duration = prog['duration_sec'][0]
                                $else:
                                    $if gv.sd['idd'] :
                                        $ duration = max(duration, prog['duration_sec'][sid])
                                    $else:
                                        $ duration = prog['duration_sec'][0]
                    $ lap_end = start + duration / 60
                    $ recurring = prog['cycle_min'] > 0 #  int(lap_end) < int(end)

                    </div>
                    <div>
                        <strong>$_(u'Starting'):</strong> <span class="val">${formatTime(two_digits(start/60) + ":" + two_digits(start%60))}</span>
                        <span ${"" if (gv.sd['idd'] > 0) else "style=display:none"}>$_(u'with individual station durations')</span>
                    </div>

                    <div>
                        <strong>$_(u'for')</strong> <span class="val">${two_digits(duration/3600)}</span> hrs <span class="val">${two_digits(((duration/60)%60))}</span> mins <span class="val">${two_digits(duration%60)}</span> secs
                    $if not recurring:
                        $_(u'until') <span class="val">${formatTime(two_digits(lap_end/60) + ":" + two_digits(lap_end%60))}</span>

                    </div>

                    $if recurring:
                        <div><strong>$_(u'Recurring every')</strong> <span class="val">${two_digits(interval/60)}</span> hrs <span class="val">${two_digits(interval%60)}</span> mins
                        $_(u'until') <span class="val">${formatTime(two_digits(end/60) + ":" + two_digits(end%60))}</span>
                        </div>

                    <div class="mt-auto pt-2 d-flex flex-wrap">
                        <form class="m-1" action="${app_path('/rp')}" method="get">
                            <input type="hidden" name="pid" value="${pid}">
                            <button type="submit" class="btn btn-success btn-sm" >$_(u'Run Now')</button>
                        </form>
                        <form class="m-1" action="${app_path('/mp')}" method="get">
                            <input type="hidden" name="pid" value="${pid}">
                            <button class="btn btn-primary btn-sm" >$_(u'Edit')</button>
                        </form>
                        <form class="m-1" action="${app_path('/dp')}" method="get">
                            <input type="hidden" name="pid" value="${pid}">
                            <button class=" btn btn-danger btn-sm">$_(u'Delete')</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

</div>

