$def with(redirectTo)

$var title: $_(u'SIP Restarting')
$var page: restart

<script>
    var redirectTo = '${redirectTo}';

    function changePage() {

        // A small trick in order to be sure that SIP has been restarted and is answering our requests
        var interval = setInterval(function () {
            jQuery.get('/', function () {
                window.location.href = redirectTo;
                clearInterval(interval);
            });
        }, 1000);
    }

    jQuery(document).ready(function () {
        changePage()
    });
</script>

<div id="restarting">
    <div class="title">$_(u'SIP is restarting')</div>
    $_(u'This may take several seconds...')
</div>
