$def with()

$var title: $_(u'SIP Restarting')
$var page: restart
$var header: $_(u'SIP is restarting')

<script>
    function changePage() {

        // A small trick in order to be sure that SIP has been restarted and is answering our requests
        var interval = setInterval(function () {
            jQuery.get('/', function () {
                window.location.href = "/";
                clearInterval(interval);
            });
        }, 1000);
    }

    jQuery(document).ready(function () {
        changePage()
    });
</script>


<div>
    $_(u'This may take several seconds...')
</div>
