$def with()

$var title: $_('OSPi Restarting')
$var page: restart

<script>
    function checkPage() {
        jQuery.ajax({
            type: 'HEAD',
            url: '/',
            success: function() {
                window.location.href = '/';
            },
            failure: function() {
                setTimeout(function() {
                    checkPage();
                }, 1000);
            }
        });
    }

    jQuery(document).ready(function(){
        setTimeout(function() {
            checkPage()
        }, 3000);
    });
</script>

<div id="restarting">
    <div class="title">$_('ospi is restarting')</div>
    $_('This may take several seconds...')
</div>