$def with ()

$var title: $_(u'SIP Run-Once')
$var page: runonce
$var header: $_(u'Run Once Program')
$code:
	snames = gv.snames

<script>
    // Initialize behaviors
    jQuery(document).ready(function(){

    	// jQuery('#timepicker').datetimepicker({
        //
    	// });

        jQuery("form").submit(function(e){
            var comm="[";
            var sid,strmm,strss,mm,ss,matchfound=0;
            for (sid=0; sid<nbrd*8; sid++) {
                if (sid+1 == mas) {
                    comm+="0,";
                    continue;
                }
                strmm = jQuery("input[name='mm" + sid + "']").val();
                strss = jQuery("input[name='ss" + sid + "']").val();
                mm = (strmm=="" || strmm==undefined ? 0 : parseInt(strmm));
                ss = (strss=="" || strss==undefined ? 0 : parseInt(strss));
                if (!(mm >= 0 && ss >= 0 && ss < 60)) {
                    alert($:{json_dump(_(u'Timer values wrong: '))} + strmm + ":" + strss);
                    e.preventDefault();
                }
                if (mm*60+ss > 0) {
                    matchfound=1;
                }
                comm += (mm*60+ss) + ",";
            }
            comm += "0]";
            if (!matchfound) {
                alert($:{json.dumps(_(u'No station is scheduled to run'), ensure_ascii=False)});
                e.preventDefault();
            }
            jQuery('input[name="t"]').val(comm);


        });

    });
</script>


<form action="${app_path('/cr')}" method="post">
        $for bid in range(0, gv.sd['nbrd']):
            $for s in range(0,8):
                $ sid = bid*8 + s
                $ show = (gv.sd['show'][bid]>>s)&1
                $if show == 1 and sid+1 != gv.sd['mas']:
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-right font-weight-bold">${snames[sid]}</label>
                        <div class="input-group align-items-center col-4">
                            <input type="number"  min="0" max="60" class="form-control" value="0" name="mm${sid}"
                                   placeholder="minutes"/>
                            <span class="input-group-text px-1 rounded-0">:</span>
                            <input type="number" min="0" max="59" class="form-control" value="0" name="ss{sid}"
                                   placeholder="seconds"/>
                        </div>
                        <div class="col-auto col-form-label text-muted">(mm:ss)</div>
                    </div>

    <!--    <div class="row mt-4">-->
<!--        <div class="form-group col-sm-6">-->
<!--            <div class="input-group date"  id="timepicker">-->
<!--                <span class="input-group-prepend"><span class="input-group-text"><i class="far fa-clock"></i></span></span>-->
<!--                <input type='text'  class="form-control"/>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<input type="hidden" name="t" value="[]"></input>
    <div class="mt-5">
        <button type="submit" class="btn btn-success my-1">$_(u'Run Now')</button>
        <button type="reset" class="btn btn-danger  my-1">$_(u'Reset Time')</button>
        <a href="${app_path('/')}" class="btn btn-secondary  my-1">$_(u'Cancel')</a>
    </div>

</form>


