$def with ()

$var title: $_(u'SIP Stations')
$var page: stations
$var header: $_(u'Configure Stations')
$code:
	snames = gv.snames

<script>

    // Initialize behaviors
    jQuery(document).ready(function(){

        jQuery("form").submit(function(event){
            if (mas>0) {
                var s, bid, sid, vm;
                for (bid=0; bid<nbrd; bid++) {
                    vm = 0;
                    for (s=0; s<8; s++) {
                        sid = bid*8 + (7-s);
                        vm = vm<<1;
                        if (sid == mas-1) {
                            vm = vm + 1;
                            continue;
                        }
                        if	(jQuery("#mc"+sid).is(":checked")) {
                            vm = vm + 1;
                        }
                    }
                    jQuery("#m"+bid).val(vm);
                }
            }
            var vi, vs, vw;
            for (bid=0; bid<nbrd; bid++) {
                vi = 0;
                vs = 0;
                vw = 0;
                for (s=0; s<8; s++) {
                    sid = bid*8 + (7-s);
                    vi = vi<<1;
                    vs = vs<<1;
                    vw = vw<<1;
                    if (sid == mas-1) {
                        vi = vi + 1;
                        vs = vs + 1;
                        vw = vw + 1;
                        continue;
                    }
                    if (jQuery("#rc"+sid).is(":checked")) {
                        vi = vi + 1;
                    }
                    if (jQuery("#wlc"+sid).is(":checked")) {
                        vw = vw + 1;
                    }
                    if (jQuery("#show"+sid).is(":checked")) {
                        vs = vs + 1;
                    }
                }
                jQuery("#i"+bid).val(vi);
                jQuery("#sh"+bid).val(vs);
                jQuery("#w"+bid).val(vw);

            }

        });

        jQuery("button#cResetNames").click(function(){
            jQuery("input[type='text']").each(function () {
                jQuery(this).val("S" + (parseInt(jQuery(this).attr("name").substring(1)) + 1));
            });
            jQuery(".stationShow input").each(function () {
                jQuery(this).prop('checked', true);
            });
        });

    });

</script>

<form id="sf" name="sf" class="container" action="$app_path('/cs')" method="get">

        <div class="row font-weight-bold">
            <div class="col-1 text-right stationNumber">$_(u'No')</div>
            <div class="col-4 stationName">$_(u'Name')</div>
            <div class="col-2 stationShow">$_(u'Enabled?')&nbsp;&nbsp;</div>
            <div class="col-2 stationIgnore">$_(u'Ignore Rain?')&nbsp;&nbsp;</div>
            $#$if 'wl_weather' in gv.sd or 'et' in gv.plugin_data:
                <div class="col-2 stationIgnoreWL">$_(u'Ignore Plugin adjustments?')&nbsp;&nbsp;</div>
            $if gv.sd['mas'] > 0:
                <div class="col-2 stationMaster">$_(u'Activate Master?')</div>
        </div>
        $for bid in range(0,gv.sd['nbrd']):
            $for s in range(0,8):
                $ sid = bid*8 + s;
                <div class="row my-2">
                    <div class="col-1 text-right stationNumber">${sid + 1}</div>
                    <div class="col-4 stationName">
                        <input type="text" class="form-control" size="${gv.sd['snlen']}" maxlength="${gv.sd['snlen']}" value="${snames[sid]}" name="s${sid}" id="n${sid}">
                    </div>
                    $if sid == gv.sd['mas'] - 1:
                        $if 'wl_weather' in gv.sd:
                            <div class="col-2 stationMaster text-center" >$_(u'(Master valve)')</div>
                        $else:
                            <div class="col-2 stationMaster text-center" >$_(u'(Master valve)')</div>
                    $else:
                        <div class="col-2 stationShow text-center">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox"  ${"checked" if gv.sd['show'][bid]&(1<<s) else ""} id="show${sid}" name="show${sid}">
                                <label class="custom-control-label" for="show${sid}"> </label>
                            </div>
                        </div>
                        <div class="col-2 stationIgnore text-center">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox"   ${"checked" if gv.sd['ir'][bid]&(1<<s) else ""} id="rc${sid}"name="rc${sid}">
                                <label class="custom-control-label" for="rc${sid}"> </label>
                            </div>

                        </div>
                        $# $if 'wl_weather' in gv.sd or 'et' in gv.plugin_data:
                            <div class="col-2 stationIgnoreWL text-center">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" ${"checked" if gv.sd['iw'][bid]&(1<<s) else ""} id="wlc${sid}" name="wlc${sid}">
                                    <label class="custom-control-label" for="wlc${sid}"> </label>
                                </div>
                            </div>
                    $if gv.sd['mas'] > 0 and gv.sd['mas'] != sid+1:
                        <div class="col-2 stationMaster text-center">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox"  ${"checked" if gv.sd['mo'][bid]&(1<<s) else ""} id="mc${sid}" name="mc${sid}">
                                <label class="custom-control-label" for="mc${sid}"> </label>
                            </div>
                        </div>
                </div>

    $for bid in range(gv.sd['nbrd']):
        <input type="hidden" id="i${bid}" name="i${bid}"/>
        <input type="hidden" id="sh${bid}" name="sh${bid}"/>
        <input type="hidden" id="w${bid}" name="w${bid}"/>
        <input type="hidden" id="m${bid}" name="m${bid}"/>

    <div class="mt-5">
        <button class="btn btn-success" type="submit">$_(u'Submit Changes')</button>
        <button id="cResetNames" class="btn btn-warning">$_(u'Reset Names')</button>
        <a href="${app_path('/')}" class="btn btn-secondary">$_(u'Cancel')</a>
    </div>
</form>


