$def with ()

$var title: $_('SIP Stations')
$var page: stations
$code:
	snames = gv.snames

<script>

    // Initialize behaviors
    jQuery(document).ready(function(){

        jQuery("button#cSubmit").click(function(){
            if (mas>0) {
                var s, bid, sid, vm;
                for (bid=0; bid<nbrd; bid++) {
                    vm = 0;
                    for (s=0; s<8; s++) {
                        sid = bid*8 + (7-s);
                        vm = vm<<1;
                        if (sid == mas-1) {
                            vm = vm + 1;
                            continue;
                        }
                        if	(jQuery("#mc"+sid).is(":checked")) {
                            vm = vm + 1;
                        }
                    }
                    jQuery("#m"+bid).val(vm);
                }
            }
            var vi, vs, vw;
            for (bid=0; bid<nbrd; bid++) {
                vi = 0;
                vs = 0;
                vw = 0;
                for (s=0; s<8; s++) {
                    sid = bid*8 + (7-s);
                    vi = vi<<1;
                    vs = vs<<1;
                    vw = vw<<1;
                    if (sid == mas-1) {
                        vi = vi + 1;
                        vs = vs + 1;
                        vw = vw + 1;
                        continue;
                    }
                    if (jQuery("#rc"+sid).is(":checked")) {
                        vi = vi + 1;
                    }
                    if (jQuery("#wlc"+sid).is(":checked")) {
                        vw = vw + 1;
                    }
                    if (jQuery("#show"+sid).is(":checked")) {
                        vs = vs + 1;
                    }
                }
                jQuery("#i"+bid).val(vi);
                jQuery("#sh"+bid).val(vs);
                jQuery("#w"+bid).val(vw);
            }
            jQuery("#sf").submit();
        });
        jQuery("button#cResetNames").click(function(){
            jQuery("input[type='text']").each(function () {
                jQuery(this).val("S" + (parseInt(jQuery(this).attr("name").substring(1)) + 1));
            });
            jQuery(".stationShow input").each(function () {
                jQuery(this).prop('checked', true);
            });
        });

        jQuery("button#cCancel").click(function(){
            window.location= baseUrl + "/";
        });

    });

</script>
<div id="stations">
    <div class="title">$_('Configure Stations')</div>
    <form id="sf" name="sf" action="$app_path('/cs')" method="get">
        <table class="stationList">
            <tr>
                <th class="stationNumber">$_('Station')</th>
                <th class="stationName">$_('Name')</th>
                <th class="stationShow">$_('Enabled?')&nbsp;&nbsp;</th>
                <th class="stationIgnore">$_('Ignore Rain?')&nbsp;&nbsp;</th>
                $#$if 'wl_weather' in gv.sd or 'et' in gv.plugin_data:
                    <th class="stationIgnoreWL">$_('Ignore Plugin adjustments?')&nbsp;&nbsp;</th>
                $if gv.sd['mas'] > 0:
                    <th class="stationMaster">$_('Activate Master?')</th>
            </tr>
            $for bid in range(0,gv.sd['nbrd']):
                $for s in range(0,8):
                    $ sid = bid*8 + s;
                    <tr>
                        <td class="stationNumber">${sid + 1}</td>
                        <td class="stationName">
                            <input type="text" size="${gv.sd['snlen']}" maxlength="${gv.sd['snlen']}" value="${snames[sid]}" name="s${sid}" id="n${sid}">
                        </td>
                        $if sid == gv.sd['mas'] - 1:
                            $if 'wl_weather' in gv.sd:
                                <td class="stationMaster" colspan="4">$_('(Master valve)')</td>
                            $else:
                                <td class="stationMaster" colspan="3">$_('(Master valve)')</td>
                        $else:
                            <td class="stationShow">
                                <input type="checkbox" ${"checked" if gv.sd['show'][bid]&(1<<s) else ""} id="show${sid}">
                            </td>
                            <td class="stationIgnore">
                                <input type="checkbox" ${"checked" if gv.sd['ir'][bid]&(1<<s) else ""} id="rc${sid}">
                            </td>
                            $# $if 'wl_weather' in gv.sd or 'et' in gv.plugin_data:
                                <td class="stationIgnoreWL">
                                    <input type="checkbox" ${"checked" if gv.sd['iw'][bid]&(1<<s) else ""} id="wlc${sid}">
                                </td>
                        $if gv.sd['mas'] > 0 and gv.sd['mas'] != sid+1:
                            <td class="stationMaster">
                                <input type="checkbox" ${"checked" if gv.sd['mo'][bid]&(1<<s) else ""} id="mc${sid}">
                            </td>
                    </tr>
        </table>

        <p></p>

        $for bid in range(gv.sd['nbrd']):
            <input type="hidden" id="i${bid}" name="i${bid}"/>
            <input type="hidden" id="sh${bid}" name="sh${bid}"/>
            <input type="hidden" id="w${bid}" name="w${bid}"/>
            <input type="hidden" id="m${bid}" name="m${bid}"/>
    </form>
</div>

<div id="controls">
    <button id="cSubmit" class="submit">$_('Submit Changes')</button>
    <button id="cResetNames" class="refresh">$_('Reset Names')</button>
    <button id="cCancel" class="cancel danger">$_('Cancel')</button>
</div>
