$def with(m_vals)

$var title: OpenSprinkler Pi System update from GitHub
$var page: plugins
<script>
    // Initialize behaviors
    jQuery(document).ready(function(){
        jQuery("button#cRefresh").click(function(){
            window.location="/UPsr";
        });
        jQuery("button#cUpdate").click(function(){
            window.location="/UPu";
        });
        jQuery("button#cReboot").click(function(){
            window.location="/UPr";
        });
        jQuery("button#cCancel").click(function(){
            window.location="/";
        });
    });
</script>

<div id="plugin">
    <div class="title">System update from github</div>
    <p>This plugin compares the local copy with the remote repository and can automatically update the local copy.</p>
    <form id="pluginForm" action="/UPsr" method="get">
        <table class="optionList">
            <tr>
                <td style='text-transform: none;'><b>Remote repository:</b></td>
                <td>
                     $m_vals["remote"]
                </td>
            </tr>
            <tr>
                <td style='text-transform: none;'><b>Local ospi version:</b></td>
                <td>
                     $m_vals["ver_str"]
                </td>
            </tr>
            <tr>
                <td style='text-transform: none;'><b>Local ospi date:</b></td>
                <td>
                     $m_vals["ver_date"]
                </td>
            </tr>
            <tr>
                <td style='text-transform: none;'>Status:</td>
                <td>
                    <textarea style="font-family: monospace;" rows="7" cols="100" readonly>$m_vals['status']</textarea><br/>
                    <button id="cRefresh" class="refresh">Update Status</button>
                </td>
            </tr>
            
        </table>
    </form>
</div>
<div id="controls">
    $if m_vals['can_update']:
        <button id="cUpdate" class="options"><b>Update ospi</b></button>
    $else:
        <button id="cUpToDate" class="cancel"><b>Up-to-date</b></button>
    <button id="cReboot" class="reboot danger">Restart ospi</button>
    <button id="cCancel" class="cancel danger">Back</button>
</div>
