$def with(m_vals)

$var title: OpenSprinkler Pi System update from github
$var page: plugins
<script>
    // Initialize behaviors
    jQuery(document).ready(function(){

        jQuery("#cSubmit").click(function() {
            jQuery("#pluginForm").submit();
        });
        jQuery("button#cCancel").click(function(){
            window.location="/";
        });
        jQuery("button#cReboot").click(function(){
            window.location="/UPr";
        });

    });
</script>

<div id="plugin">
    <div class="title">System update from github</div>
    <p>This plugin checks SHA from github ($m_vals["user"]/OSPy) and from local files.</p>
    <form id="pluginForm" action="/UPu" method="get">
        <table class="optionList">
            <tr>
                <td style='text-transform: none;'><b>Latest OSPy version on github:</b></td>
                <td>
                     $m_vals["latest"]
                </td>
            </tr>
            <tr>
                <td style='text-transform: none;'>           <b>Local OSPy version:<b></td>
                <td>
                     $m_vals["current"]
                </td>
            </tr>
            <tr>
                <td style='text-transform: none;'>           <b>Local OSPy rev date:<b></td>
                <td>
                     $m_vals["revdate"]
                </td>
            </tr>
            <tr>
                <td style='text-transform: none;'>           <b>Local OSPy version:<b></td>
                <td>
                     $m_vals["ver"]
                </td>
            </tr>
            <tr>
                <td style='text-transform: none;'>Status:</td>
                <td>
                    <textarea style="font-family: monospace;" rows="7" cols="35" readonly>$m_vals['status']</textarea>
                </td>
            </tr>
            
        </table>
    </form>
<p>After the update, you must OSPy system reboots!</p>
</div>
<div id="controls">
    <button id="cSubmit" class="submit"><b>Run Update</b></button>
    <button id="cReboot" class="reboot danger">Reboot system</button>
    <button id="cCancel" class="cancel danger">Cancel</button>
</div>
