$def with(m_vals)

$var title: $_('OpenSprinkler Pi Weather-based Rain Delay')
$var page: plugins
<script>
    // Initialize behaviors
    jQuery(document).ready(function(){

        jQuery("#cSubmit").click(function() {
            jQuery("#pluginForm").submit();
        });
        jQuery("button#cCancel").click(function(){
            window.location="/";
        });

    });
</script>

<div id="plugin">
    <div class="title">$_('Weather-based Rain Delay')</div>
    <p>$_('When weather-based rain delay is enabled, the weather will be checked for rain every hour. If the weather reports any condition suggesting rain, a rain delay is automatically issued using the below set delay duration.')</p>
    <form id="pluginForm" action="/uwa" method="get">
        <table class="optionList">
            <tr>
                <td style='text-transform: none;'>$_('Use Automatic Rain Delay'):</td>
                <td>
                    <input name='auto_delay' type='checkbox'${" checked" if m_vals['auto_delay'] == "on" else ""}>
                </td>
            </tr>
            <tr>
                <td style='text-transform: none;'>$_('Delay Duration (hours)'):</td>
                <td>
                    <input name='delay_duration' type='number' min="0" max="96" value=$m_vals["delay_duration"]>
                </td>
            </tr>
            <tr>
                <td style='text-transform: none;'>$_('Weather Provider'):</td>
                <td>
                    <select name="weather_provider">
                        <option value="yahoo" ${"selected" if m_vals["weather_provider"]=="yahoo" else ""}>Yahoo!</option>
                        <option value="wunderground" ${"selected" if m_vals["weather_provider"]=="wunderground" else ""}>Wunderground</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td style='text-transform: none;'>$_('Wunderground API Key'):</td>
                <td>
                    <input name='wapikey' type='text' value=$m_vals["wapikey"]>
                </td>
            </tr>
        </table>
    </form>
</div>
<div id="controls">
    <button id="cSubmit" class="submit"><b>$_('Submit')</b></button>
    <button id="cCancel" class="cancel danger">$_('Cancel')</button>
</div>